* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
}

.gallery-container {
    display: flex;
    min-height: 100vh;
    
}

.panel {
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5) inset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 
        flex-grow 340ms cubic-bezier(0.23, 0.85, 0.3, 1.07);
    will-change: flex-grow;
}


.panel h2 {
    font-size: 4rem;
    color: #fff;
    font-style: italic;
    opacity: 0.4;
    transition: opacity 380ms ease;
    will-change: opacity;
}

.panel.open {
    flex-grow: 2;
}

.panel.open h2 {
    opacity: 1;
}

.panel1 { background-image: url(images/japan.jpg); }

.panel2 { background-image: url(images/eyes.jpg); }

.panel3 { background-image: url(images/fox.jpg); }